.list {
	margin: 20px 32px;

	.header {
		color: #eeb302;
		font-weight: 600;
		padding: 8px 24px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.name {
			width: 0px;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: auto;
		}

		.reveal-at,
		.created-at {
			width: 240px;
			text-align: center;
		}
	}

	.secret {
		padding: 6px 24px;
		display: flex;
		flex-direction: row;
		gap: 16px;
		align-items: center;
		background: #333333;
		border: 1px solid #444444;
		border-bottom: none;
		color: #ffffff;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}

		.name {
			width: 0px;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: auto;
		}

		.reveal-at,
		.created-at {
			width: 240px;
			text-align: center;
		}

		&:last-child {
			border-bottom: 1px solid #444444;
		}

		&:hover {
			background: #444444;
			transition: background 0.2s;
		}
	}

	.empty {
		padding: 6px 24px;
		color: #999999;
		text-align: center;
	}
}
