body, html {
    margin: 0;
    padding: 0;
    height: 100%;

    --color-white: #eee9df;
    --color-black: #050505;
    --color-gray: #e0d1b6;
    --color-primary: #8e2407;
}

body, input, button {
    font-family: Rye, serif;
}

.vanishing {
    &:empty {
        display: none;
    }
}